@import '../../styles/helpers.scss';

.sidenav {
    max-width: 30rem;
    margin-right: 4rem;

    &-item {
        height: 2rem;
        line-height: 2rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 0.5rem;
        cursor: pointer;
        margin-bottom: 1rem;
        img {
            margin-right: 1rem;
        }

        &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        }

        &-item.active {
            background-color: #CCC;
        }
    }
}